PlaylistOnTheWeb/files/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="playlistDemo" type="playlistDemoType"/>
  <xs:complexType name="artistaType">
    <xs:sequence>
      <xs:element type="xs:string" name="nome"/>
      <xs:element type="xs:string" name="id"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="artistasType">
    <xs:sequence>
      <xs:element type="artistaType" name="artista" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="musicaType">
    <xs:sequence>
      <xs:element type="xs:string" name="nome"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element name="externalUrl">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="https://open.spotify.com/([a-zA-Z0-9_./])*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="img"/>
      <xs:element type="artistasType" name="artistas"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="musicasType">
    <xs:sequence>
      <xs:element type="musicaType" name="musica" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="playlistDemoType">
    <xs:sequence>
      <xs:element type="xs:string" name="nome"/>
      <xs:element name="id">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
              <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="numeroDeMusicas">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
              <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:date" name="dataCriacao" />
      <xs:element type="musicasType" name="musicas" />
    </xs:sequence>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:schema>